

.services-format:hover{
    border: 2px solid #24614b;
    background-image: linear-gradient(40deg, #689bb5, #67c7a2);
    transform: scale(1.05);
    transition: 0.4s;
}

.services-format p:hover{
    color:white;
}
.services-format h3:hover{
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


