.color-sent {
  background: linear-gradient(270deg, #0983bc 10%, #4cbf95 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-connect {
  background: linear-gradient(264deg, #0983bc -5.09%, #4cbf95 100%);
}

/*


.hero-resume{
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid #000000;
    cursor: pointer;
}
.hero-resume button{
    padding: 0;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 500;
}

.hero-connect:hover{
    border: 2px solid #4cbf95;
}
.hero-resume:hover{
    border-color: #0983bc;
}


.hero-resume Popup{
    width: 30%;
    align-items: center;
    text-align: center;
}

.hero-resume .CV{
    width: auto;
    height: 100%;
    align-items: center;
    text-align: center;
    border-radius: 30px;    
}

@media (max-width:768px){
    .hero img{
        margin-top: 120px;
        width: 260px;
    }
    .hero h2{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius:40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
} */
