
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-skill{
    display: flex;
    gap: 25px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #0983bc -5.09%, #4cbf95 106.28%);
}


.about-achievement h2{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #0983bc 50.41%, #4cbf95 90.25%);
    background-clip: text;
    justify-content: flex-start;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s ease-in-out;
}
