/* 

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}




.logo{
    width: 10%;
    height: 10%x;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
    display: flex;
    margin: auto;
}


 */
.logo {
  width: 30%;
}

.nav-connect{
    background: linear-gradient(267deg, #0983bc 0.37%, #4cbf95 100%);
}

.nav-connect:hover{
    transform: scale(1.05);
}
